<div style="margin-top: 3%;margin-bottom: 27%;margin-left: 20%;" class="row">
  <div style="position: absolute;width:8%;height:35%;margin-bottom: 5%">
    <div style="background-color:red;width:100%;height:100%;bottom: 0;position:absolute">

      <h2 style="position:absolute;bottom: 0;margin-left: 40%">
        6
      </h2>


    </div>
  </div>


  <div style="position: absolute;width:8%;height:35%;margin-bottom: 5%;margin-left: 15%">
    <div [style.height.%]="blueHeight" style="background-color:#3399ff;width:100%;;bottom: 0;position:absolute">

      <h2 style="position:absolute;bottom: 0;margin-left: 40%">
        6
      </h2>


    </div>
  </div>


  <div style="position: absolute;width:8%;height:35%;margin-bottom: 5%;margin-left: 30%">
    <div style="background-color:#4CAF50;width:100%;height:100%;bottom: 0;position:absolute">

      <h2 style="position:absolute;bottom: 0;margin-left: 40%">
        6
      </h2>


    </div>
  </div>


  <div style="position: absolute;width:8%;height:35%;margin-bottom: 5%;margin-left: 45%">
    <div style="background-color:#ff9933;width:100%;height:100%;bottom: 0;position:absolute">

      <h2 style="position:absolute;bottom: 0;margin-left: 40%">
        6
      </h2>


    </div>
  </div>

  <button class="btn btn-primary" style="float:right;margin-left: 93.5%;" (click)="routeToScoreboard()">
      Next
    </button>



</div>
