<div  class="home-profile-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="max-width: 1000px;margin:3.4% 0;">
    <div class="modal-content">
      <div class="modal-header">
          <table style="width: 100%">
            <tr>
              <th style="margin-left: 40%"><img style="margin-left: 40%" src="../../../../assets/images/pfp_placeholder.png"></th>
            </tr>
            <th>
                <a  style="margin-left: 46.5%;color: blue;">
                    Change
                </a>
            </th>
          </table>
          
          
       

      </div>
      <div class="modal-body">
        <div>
          <p>Username: <span>Testing123</span> </p>

          <hr>
        </div>
        <div>
          <p>Email: <span>Testing123@gmail.com</span> <span style="float: right;"><a style="color: blue">Edit</a></span> </p>
          <hr>
        </div>
        <div>
            <p>Quiz Privacy: <span>Friends Only</span> <span style="float: right;"><a style="color: blue">Edit</a></span> </p>
            <hr>
          </div>
          <div>
              <p>Password: <span>*******</span> <span style="float: right;"><a style="color: blue">Edit</a></span> </p>
              <hr>
            </div>
      </div>
    </div>
  </div>
</div>