

<div class="loginBox">
    <form>
        <a [routerLink]="'/cover'">
      <img src="../../../assets/images/Main_Logo.png" style="width: 90%; padding-bottom:30px">
        </a>
      <p style="position: relative;margin-top:20px;margin-bottom:0%; padding-left: 6px; ">Email Address</p>
      <div class="textbox">
        <input type="text" placeholder="Email Address" name="" value="" style="padding-left: 5px">

      </div>

      <p style="position: relative;margin-top:20px;margin-bottom:0%; padding-left: 6px; ">Username</p>
      <div class="textbox">
        <input type="text" placeholder="Username" name="" value="" style="padding-left: 5px">

      </div>

      <p style="margin-bottom:0%; margin-top:20px;padding-left: 6px;">Password</p>
      <div class="textbox">
        <input type="password" placeholder="Password" name="" value="" style="padding-left: 5px">
      </div>

      <p style="margin-bottom:0%; margin-top:20px;padding-left: 6px;">Re-Type Password</p>
      <div class="textbox">
        <input type="password" placeholder="Re-Type Password" name="" value="" style="padding-left: 5px">
      </div>

      <input class="loginBtn btn btn-primary" type="button" value="SIGN-UP" > 

      <div style="text-align: center;margin-top:10px">
          <a [routerLink]="'/authentication/login'">
            Already Have An Account?
          </a>
        </div>

    </form>
  </div>

    


