

<div class="loginBox">
    <form>
        <a [routerLink]="'/cover'">
      <img src="../../../assets/images/Main_Logo.png" style="width: 90%; padding-bottom:5%;padding-top: 40%">
        </a>
      <p style="position: relative;margin-top:20px;margin-bottom:0%; padding-left: 6px; ">Email Address</p>
      <div class="textbox">
        <input type="text" placeholder="Email Address" name="" value="" style="padding-left: 5px">

      </div>

      <p style="position: relative;margin-top:20px;margin-bottom:0%; padding-left: 6px; ">Username</p>
      <div class="textbox">
        <input type="text" placeholder="Username" name="" value="" style="padding-left: 5px">

      </div>

      <p style="margin-bottom:0%; margin-top:20px;padding-left: 6px;">Password</p>
      <div class="textbox">
        <input type="password" placeholder="Password" name="" value="" style="padding-left: 5px">
      </div>

      <p style="margin-bottom:0%; margin-top:20px;padding-left: 6px;">Re-Type Password</p>
      <div class="textbox">
        <input type="password" placeholder="Re-Type Password" name="" value="" style="padding-left: 5px">
      </div>

      <input class="signUpBtn btn btn-primary" type="button" value="Sign up" > 

      <div style="text-align: center;margin-top:10px">
        <span style="color: white">Already Have An Account? </span>
        <a [routerLink]="'/authentication/login'">
          <span>Click here</span>  
        </a>
          
        </div>

    </form>
  </div>

    


