<div style="text-align: center">
  <table style="width:90%;margin-top: 3%;margin-left: 5%">
    <tr>
      <td      
      > <button style="background-color: red;height:100px;width: 100%;font-size: 20px">Hello</button>
      </td>
      <td style="width: 50%;" >
        <button style="background-color: lightblue;height:100px;width: 100%;font-size: 20px">Hello</button>

      </td>
    </tr>
    <br>
    <tr>
      <td style=" width: 50%;background-color: yellowgreen">
        <button style="background-color: yellowgreen;height:100px;width: 100%;font-size: 20px">Hello</button>

      </td>
      <td style="width: 50%;background-color: yellow">
        <button style="background-color: yellow;height:100px;width: 100%;font-size: 20px">Hello</button>

      </td>
    </tr>

  </table>
</div>
