<div class="home-profile-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <img src="../../../../assets/images/pfp_placeholder.png">
        <h5>
          (username)</h5>

      </div>
      <div class="modal-body">
        <div>
          <p>Quizzes created: <span style="float: right;padding-right: 7%">1</span> </p>
          
          <hr>
        </div>
        <div>
            <p>Plays of your Quizzes: <span style="float: right;padding-right: 7%">2</span> </p>
          </div>  
      </div>
    </div>
  </div>
</div>