<div class="row">
  <div class="col-sm-1" style="background-color: purple;border-radius: 50px;width: 2%;height: 10%;margin-top: 12%;margin-left: 20px">
    <h1 style="margin-top: 15%;color: white;margin-left: 30%;margin-top: 3px">
      {{counter}}
    </h1>
  </div>
  <div class="col-sm-6 mx-auto mt-4" >
    <img style="width: 50%; margin-left: 57%" src="https://media1.tenor.com/images/c815396f481f2e27a36f48149cfe27c4/tenor.gif?itemid=10889686" alt="">
  </div>

  <div class="col-sm 2" style="margin-left: 25%;margin-top:10%">
    <h1 style="text-align: center">
      0
    </h1>
    <h1 style="text-align: center">
      Answers
    </h1>
  </div>

</div>