
<div class="headerMsg">
<img src="../../assets/images/Main_Logo.png"> 
 <p>OPEN A NEW DOOR TO LEARNING</p> 
</div>
<div class="subHeadMsg">
  <p>While Leaving The Boring Parts Behind</p>
</div>
<div style="text-align: center; margin-top: 5%; z-index: 100;">
  <div style="display: inline-block; padding-right: 5%">
  <a [routerLink]="'/authentication/login'">
    <button id="loginBtn" type="button"  class="btn btn-primary coverBtns coverLoginBtn"> 
    Login
    </button>
  </a>
  </div>

  <div style="display: inline-block; padding-left: 5%">
  <a routerLink="/authentication/sign-up">
    <button type="button" class="btn btn-primary coverBtns"> 
      Sign up
    </button>
  </a>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <p style="color: white; padding-top: 50%;">HELLO</p>
</div>
