

<div class="headerMsg">
<img src="../../assets/images/Main_Logo.png"> 
 <p>OPEN A NEW DOOR TO LEARNING</p> 
</div>
<div class="subHeadMsg">
  <p>While Leaving The Boring Parts Behind</p>
</div>
<div style="text-align: center; margin-top: 100px; z-index: 100;">
  <a [routerLink]="'/authentication/login'">
    <button id="loginBtn" type="button"  class="btn btn-primary coverBtns coverLoginBtn" style=" margin-right: 5%;"> 
    Login
    </button>
  </a>
  
  <a routerLink="/authentication/sign-up">
    <button type="button" class="btn btn-primary coverBtns" style="margin-left: 75px"> 
      Sign up
    </button>
  </a>
</div>
