<nav class="navbar navbar-expand-sm bg-light navbar-light">
        <div class="container-fluid">
        <div class="navbar-header">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><a class="nav-link" routerLink="/main/home"
       routerLinkActive="active">Home</a></li>
       <li><a class="nav-link" routerLink="/main/play"
        routerLinkActive="active">Play</a></li>
       <li><a class="nav-link" routerLink="/main/home"
        routerLinkActive="active">Quizzes</a></li>
        <li><a class="nav-link" routerLink="/main/home"
        routerLinkActive="active">Home</a></li>
        <li><a class="nav-link" routerLink="/main/friends-list" routerLinkActive="active">Friends</a></li>

        <li><a class="nav-link" routerLink="/main/home"
        routerLinkActive="active">Home</a></li>


        </div>
        </div>
        </div>
       </nav>
       <div class="container">
        <div class="row">
        <!-- routing here -->
        </div>
       </div>
       