<div class="home-profile-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background-color:lightcyan">
      <div class="modal-header">
        <h5>
          My Quizzes</h5>
          <a routerLink="/main/quiz-description">
        <button class="btn btn-primary" style="float: right;margin-top: 14%;">More Details</button>
      </a>
      </div>
      <div class="modal-body">
        <div>
          <button class="btn btn-primary" style="float: right;">View</button>
          <p>(Quiz Name)</p>

          <p style="display: inline;">5</p>
          <p style="display: inline;"> Questions</p>

          <hr>
        </div>
        <div>
          <button class="btn btn-primary" style="float: right;">View</button>
          <p>(Quiz Name)</p>

          <p style="display: inline;">5</p>
          <p style="display: inline;"> Questions</p>

          <hr>
        </div>
        <div>
          <button class="btn btn-primary" style="float: right;">View</button>
          <p>(Quiz Name)</p>

          <p style="display: inline;">5</p>
          <p style="display: inline;"> Questions</p>

          <hr>
        </div>
        <div>
          <button class="btn btn-primary" style="float: right;">View</button>
          <p>(Quiz Name)</p>

          <p style="display: inline;">5</p>
          <p style="display: inline;"> Questions</p>

          <hr>
        </div>

      </div>
    </div>
  </div>
</div>