<!-- <div class="player-correct-background">
  <div style="padding-top:12%">
    <h2 style="color: white;text-align:center;font-size: 50px">Correct!</h2>
    <h2 style="color: white;text-align:center; margin-top: 3%">+<span>892</span></h2>
    <h2 style="color: white;text-align:center; margin-top: 3%">You're in<span> 3rd</span> place</h2>

  </div>
</div> -->

<div class="player-wrong-background">
    <div style="padding-top:12%">
      <h2 style="color: white;text-align:center;font-size: 50px">Wrong!</h2>
      <h2 style="color: white;text-align:center; margin-top: 3%">Better luck next time xD</h2>
      <h2 style="color: white;text-align:center; margin-top: 3%">You're in<span> 3rd</span> place</h2>
  
    </div>
  </div>
