

<div class="loginBox">
    <form>

      <h1 style="color: white">
        Web Logo placeholder.
      </h1>
      <p style="position: relative;margin-top:20px;margin-bottom:0% ">Username or Email Address</p>
      <div class="textbox">
        <input type="text" placeholder="Username" name="" value="">

      </div>
      <p style="margin-bottom:0%; margin-top:25px">Password</p>
      <div class="textbox">
        <input type="password" placeholder="Password" name="" value="">
      </div>

      <input class="loginBtn btn btn-primary" type="button" value="LOGIN"> 


      <div style="text-align: center;margin-top:10px">
      <a>
        Forgot your password?
      </a>
    </div>


    </form>
  </div>

    


