<div id="cover-scroll" class="container1 darken-pseudo scrollbar cover-background">

  <div class="loginBox">

    <a [routerLink]="'/cover'">
      <img src="../../../assets/images/Main_Logo.png" style="width: 90%; padding-bottom:10%">
    </a>
    <form [formGroup]="loginForm">
      <p style="position: relative;margin-top:20px;margin-bottom:0% ; padding-left: 6px;">Username or Email Address</p>
      <div class="textbox">
        <input formControlName="username_or_email" type="text" placeholder="Username" name="" value=""
          style="padding-left: 5px">

      </div>
      <p style="margin-bottom:0%; margin-top:40px; padding-left: 6px;">Password</p>
      <div class="textbox">
        <input formControlName="password" type="password" placeholder="Password" name="" value=""
          style="padding-left: 5px">
      </div>

      <a [routerLink]="'/main/home'">
        <button class="loginBtn btn btn-primary" type="button" value="Login" style="width: 100%">
          Login

        </button>
      </a>

    </form>


    <div style="text-align: center;margin-top:2%">
      <a [routerLink]="'/authentication/forget-password'">
        Forgot your password?
      </a>
    </div>



  </div>
</div>