
<div class="rainbow-background" style="padding-bottom: 20%;">
    <div style="padding-top: 10%;">
      
<h1 id = "title">Join a Game</h1>
<form action="/player/">
        <br>
        <div class="form-field">
            <label id = "label">Game Pin</label>
            <input id = "pin" type="number" name="pin"/>
        </div>
        <br>
        <div class="form-field">
            <button id = "joinButton">Join</button>
            <a routerLink="/main/home"><button id="goBack">Go Back</button></a>
        </div>
</form>
</div>
<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->
</div>
