<div class="rainbow-background">
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center mt-5">
      <h1 style="color: white">
        You're In!
        </h1>
        <h1 style="color: white"> 
          Now all that's left is for the host to start the game
        </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 mx-auto mt-5">
      <img style="width: 100%" src="https://media.tenor.com/images/2cf4e684357d9cd9e08c8564e70aaff0/tenor.gif" alt="">
    </div>
  </div>
</div>
</div>
