<nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <div style="width: 12%">
                <a class="navbar-brand" href="#"><a routerLink="/main/home">
                                <img src="../../assets/images/Main_Logo.png" style="width: 100%;height: 100%;" (click)="routeToHome()">
                        </a>
                </a>
        </div>

        <button style="background-color:white" class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:3%">
                <ul class="navbar-nav mr-auto" style="width: 60%">

                        <li class="nav-item active navbar-text-items" style="cursor: pointer" (click)="routeToHome()">
                                <a style="color: goldenrod" class="nav-link">Home <span
                                                class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item navbar-text-items">
                                <a style="color: goldenrod;" class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item navbar-text-items" style="cursor: pointer" (click)="routeToQuizDesc()">
                                <a style="color: goldenrod" class="nav-link"
                                        >Quizzes</a>
                        </li>


                </ul>


                <ul class="nav navbar-nav navbar-right" style="width: 50%">

                        <li class="nav-item" style="float:right;padding-top: 5.5%;">
                                <form class="form-inline my-2 my-lg-0">
                                        <input style="width: 60%;border:20px;" class="form-control mr-sm-2"
                                                type="search" placeholder="Search" aria-label="Search">

                                        <button style="border-color:goldenrod;color: goldenrod;"
                                                class="btn btn-outline-success my-2 my-sm-0"
                                                type="submit">Search</button>
                                </form>

                        </li>
                        <li class="nav-item" style="float:right;padding-top: 5.5%;margin-right: 5%;min-width: 70px;">
                                <a>
                                        <button class="btn btn-outline-success my-2 my-sm-0" (click)="routeToCreate()"
                                                style="border-color:goldenrod;color: goldenrod;">
                                                Create
                                        </button>
                                </a>
                        </li>
                        <li class="nav-item" style="padding-top: 5.5%;margin-right: 5%">

                                <a routerLink="/game/join"> <button class="btn btn-outline-success my-2 my-sm-0"
                                                style="border-color:goldenrod;color: goldenrod">
                                                Play
                                        </button>
                                </a>
                        </li>

                        <li class="nav-item navbar-text-items dropdown"
                                style="width: 15%;padding-top: 2%; float: right;">
                                <a style="height: 70px" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <div >
                                        <img [src]="pfpSrc"
                                                style="width: 50px;height: 50px;border-radius: 50%; margin-top: 6px;">
                                        </div>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <div (click)="routeToProfile()">
                                                <a style="cursor: pointer" class="dropdown-item">Profile</a>
                                        </div>

                                        <div class="dropdown-divider"></div>

                                                <a style="cursor: pointer" class="dropdown-item" (click)="logOut()">Log Out</a>
                                        

                                </div>


                        </li>


                </ul>
        </div>
</nav>