/* You can add global styles to this file, and also import other style files */
.front-page-1 {
    display: table;
    overflow: hidden;
    padding: 80px;
    table-layout: fixed;
    text-align: center;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
}

.containerEx{
  display: inline;
  text-align: center;
  color: white;
  font-size: 20px;
}

.container1 {
    width: 100%;
    overflow-y: scroll;
    background: url(assets/images/students-bg-img.jpg);
    background-size: cover;
    margin: 0;
    z-index: 0;
  }

  .darken-pseudo {
    position: relative;
    z-index: 1;
    height: 100vh;

  }

  .darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.733);
    z-index: -9999999;
  }

  .headerMsg img{
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 20%;
  }

  .headerMsg h1{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
    position: relative;
    z-index: 2;

  }

  .headerMsg p {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    text-align: center;
    color: white;
    padding-top: 100px;
    position: relative;
    z-index: 2;
  }

  .subHeadMsg p {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    color: #b5651d;
    padding-top: 80px;
    position: relative;
    z-index: 2;
  }

  .coverBtns{
    margin: 0;
    z-index: 2;
    font-size: 20px;
    width: 150px;  
  }

  /* .login label{
    font-size: 14px;
  } */
  .login input{
    border-radius: 5px; 
    width: 300px
  }

  .loginBox{
      width:280px;
      position: absolute;
      top: 40%;
      left:50%;
      transform: translate(-50%, -50%);

  }
  .loginBox p{
    color: white;
  }

  .loginBox input{
    width: 100%;
  }

  .loginBox a{
    position: relative;
    padding-top: 10px;
    text-align: center;

  }

  .textbox {
    widows: 100%;
    overflow: hidden;
    font-size: 20px;
    border-bottom: 1px solid;
    border-radius: 5px;
  }

  .loginBtn{
    margin-top: 40px;
    border-radius: 5px;
    background-color: #b5651d;

  }