<div id="cover-scroll" class="scrollbar">
  <div class="main-background ">

    <app-navbar></app-navbar>
    <div class="home-container container">
      <div class="row">
        <div class="col-md-3">
          <app-profile-column></app-profile-column>
        </div>
        <div class="col-md-6">
          <app-my-quiz-column></app-my-quiz-column>

          <app-friends-quiz-column></app-friends-quiz-column>
        </div>
        <div class="col-md-3">
          <app-online-friends-column></app-online-friends-column>
        </div>
      </div>
    </div>


 

  </div>
</div>